/* 
  -------------------------------------------------

  Text

  -------------------------------------------------
 */

p,
ul,
ol,
.Text {
  font-size: var(--rfs-text);
  letter-spacing: var(--fls-regular);
}

/* 
  -------------------------------------------------
  
  Text Headings
  
  Tufte CSS uses h1 for the document title, p with class subtitle for the document subtitle, h2 for section headings, and h3 for low-level headings. More specific headings are not supported. If you feel the urge to reach for a heading of level 4 or greater, consider redesigning your document.

  -------------------------------------------------
 */

.Meta {
  font-family: var(--ff-meta), var(--ff-stack-heading);
  font-size: var(--rfs-text-sm);
  font-weight: 700;
  letter-spacing: var(--fls-loose);
  text-transform: uppercase;
}

.Meta--rule {
  --span-bg: var(--c-bg);
  position: relative;

  &:before {
    background-color: var(--c-text-light);
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 43%;
    width: 100%;
    /* z-index: -1; */
  }

  & span {
    background-color: var(--c-bg);
    padding: 0 1em;
    position: relative;
  }
}

.bg-neutral .Meta--rule {
  --span-bg: var(--c-neutral);
}

/* 

  Hero titles

 */

.Heading,
.Subtitle,
.Title,
.Supertitle {
  font-family: var(--ff-title), var(--ff-stack-text);
  font-size: var(--rfs-title);
  font-weight: 500;
  letter-spacing: 0;
}

.Heading {
  font-size: var(--rfs-heading);
  font-weight: 700;
}

.Title,
.Supertitle {
}

.Supertitle {
  font-family: "Super", var(--ff-stack-text);
  font-size: var(--rfs-supertitle);
  font-weight: 400;
  letter-spacing: 0.25em;
  letter-spacing: 1px;
  line-height: 1.2;
  /* text-transform: uppercase; */
  font-size: 44px;
  /* transform: translateY(-20px); */
}

.Supertitle--shadow {
  text-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.7), 0 0.5em 1em rgba(0, 0, 0, 0.4);
}
