/* 
  -------------------------------------------------

  Text

  -------------------------------------------------
 */

p,
ul,
ol,
h2,
.Text {
  font-size: var(--rfs-text);
  letter-spacing: var(--fls-regular);
}

/* .fs-text-sm {
  @media (--mo) {
    font-size: calc(var(--rfs-text-sm) + 1px) !important;
  }
} */

/* 
  -------------------------------------------------
  
  Text Headings
  
  Tufte CSS uses h1 for the document title, p with class subtitle for the document subtitle, h2 for section headings, and h3 for low-level headings. More specific headings are not supported. If you feel the urge to reach for a heading of level 4 or greater, consider redesigning your document.

  -------------------------------------------------
 */

.Meta {
  font-family: var(--ff-meta), var(--ff-stack-heading);
  font-size: var(--rfs-text-xs);
  font-weight: 700;
  letter-spacing: var(--fls-loose);
  text-transform: uppercase;
}

.Meta--rule {
  --span-bg: var(--c-bg);
  position: relative;

  &:before {
    background-color: var(--c-text-light);
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 43%;
    width: 100%;
    /* z-index: -1; */
  }

  & span {
    background-color: var(--c-bg);
    padding: 0 1em;
    position: relative;
  }
}

.bg-neutral .Meta--rule {
  --span-bg: var(--c-neutral);
}

.Meta--ruleOnImage {
  --span-bg: var(--c-bg);
  position: relative;

  &:before {
    background-color: var(--c-text-light);
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 43%;
    width: 39%;
  }
  &:after {
    background-color: var(--c-text-light);
    content: "";
    height: 1px;
    right: 0;
    position: absolute;
    top: 43%;
    width: 39%;
  }
}

.bg-neutral .Meta--rule {
  --span-bg: var(--c-neutral);
}

/* 

  Hero titles

 */

.Heading,
.Title,
.Supertitle {
  font-family: var(--ff-title), var(--ff-stack-text);
  font-size: var(--rfs-title);
  font-weight: 500;
  letter-spacing: 0;
}

.Heading {
  font-size: var(--rfs-heading);
  font-weight: 700;
}

.Title,
.Supertitle {
  font-family: var(--ff-title), var(--ff-stack-heading);
  font-size: var(--rfs-title);
  font-weight: 500;
  letter-spacing: 0.5em;
  line-height: 1.2;
  text-transform: uppercase;
}

.Supertitle {
  font-size: var(--rfs-supertitle);
}

.Supertitle--shadow {
  text-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.25), 0 0.5em 1em rgba(0, 0, 0, 0.1);
}

/* 

  Markdown scope

 */

.Scope-post {
  & h2 {
    font-size: var(--rfs-text-lg);
    font-style: italic;
    /* font-weight: 700; */
    line-height: var(--flh-regular);
  }

  & em {
    font-style: italic;
  }

  & strong {
    font-weight: 600;
  }

  & blockquote p {
    border-left: 1px solid var(--c-rule);
    font-family: var(--ff-text), var(--ff-stack-serif);
    font-style: italic;
    padding-left: var(--text-indent);

    & p {
      border: initial;
      padding: initial;
    }
  }
}

.Scope-post-dropcap > p:first-of-type:first-letter {
  /* border: 1px solid var(--c-text); */
  float: left;
  font-family: var(--ff-title), var(--ff-stack-sans);
  font-weight: 400;
  font-size: calc(2 * var(--rfs-text));
  line-height: 1;
  /* padding-top: 0;
  padding-top: 3px;
  padding-right: 0.7em;
  padding-bottom: 0.25em; */

  @media (--md) {
    font-size: 2.75em;
  }
  @media (--lg) {
    font-size: 3em;
    margin: 0 0.25em 0.25em 0;
    /* padding: 0.1em 0.2em 0.09em; */
  }
}
